.nav {
    width: 98vw;
    font-size: 70px;
    color: black;
    text-align: center;
    border: dashed 3px black;
    margin-bottom: 20px;
}

#true_area, #false_area {
    border: solid 3px;
    font-size: 40px;
    font-weight: bolder ;
    text-align: center;
    display: inline-block;
    width: 48vw;
    min-height: 200px;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    vertical-align: top;
    margin-bottom: 10px;
     /* vertical-align: top; */
    /* justify-items: space-between; */
    /* align-items: center; */   
}

.btn {
    background-color: #000000;
    width: 46vw;
    text-align: center;
    font-size: 40px;
    display: inline-block;
    color: #ffffff;
    /* border-radius: 10px 0%; */
    cursor: pointer;
    padding: 0 10px 0 10px;
    border:solid black 3px;
    
}

.btn_area {
    text-align: center;
    padding-top: 30px;  
}

#true_btn {
    background-color: #ff9800;
}

#false_btn {
    background-color: #00bcd4;
}

#true_area .true {
    color: #FF9800;
    text-align:  center;
}
#false_area .false {
    color: #00BCD4;
    text-align:  center;
}

#true_area .icon {
    background-color: #FF5722;
}

#false_area .icon {
    background-color: #2196F3;
}

.icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}

